<?php
namespace {packageNamespace}<f:if condition="{isInSubpackage}">\{subpackage}</f:if>\Controller;

use Neos\Flow\Annotations as Flow;
use Sandstorm\CrudForms\Controller\CrudControllerTrait;
use Neos\Flow\Mvc\Controller\ActionController;
use {modelClassName};

class {controllerClassName} extends ActionController
{
    use CrudControllerTrait;

    protected function getModelType()
    {
        return {shortModelClassName}::class;
    }
}
