{namespace crud=Sandstorm\CrudForms\ViewHelpers}

<fieldset>
    <f:for each="{fields}" as="field">
        <div class="form-field  {field.configuration.formFieldWrapperClassName} {f:validation.ifHasErrors(for: 'object.{field.property}', then: ' has-error')}">
            <label>{field.label}
                <f:if condition="{field.editor}">
                    <f:then>
                        <f:render partial="CrudForms/Helpers/Editor/{field.editor}" arguments="{field: field, object: object, value: '{object -> crud:internal.objectAccess(property: field.property)}'}"/>
                    </f:then>
                    <f:else>
                        <f:render partial="CrudForms/Helpers/Editor/String" arguments="{field: field, object: object, value: '{object -> crud:internal.objectAccess(property: field.property)}'}"/>
                    </f:else>
                </f:if>
            </label>
            <f:render partial="CrudForms/Helpers/FormFieldValidationResults" arguments="{fieldname: 'object.{field.property}'}"/>
        </div>
    </f:for>
</fieldset>
