<![CDATA[<f:layout name="Default"/>

<f:section name="Title">]]>{shortModelClassName}<![CDATA[</f:section>

<f:section name="Content">

    <f:flashMessages class="flashmessages"/>

    <f:form action="update" objectName="object" object="{object}" enctype="multipart/form-data">
        <f:render partial="CrudForms/Form" arguments="{crud:formDefinition(object: object, model: model)}" />

        <f:link.action action="index" class="button">Cancel</f:link.action>
        <f:form.submit value="update]]> {shortModelClassName}<![CDATA[" class="button" />
    </f:form>

</f:section>
]]>
